<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation :: navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/new_user}" method="post" th:object="${user}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" id="username" th:field="*{login}"
                           placeholder="Enter user name">
                    <p class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"
                           placeholder="Enter password">
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="form-group">
                    <label>Repeat password</label>
                    <input type="password" class="form-control" id="passwordRpt" th:field="*{passwordRpt}"
                           placeholder="Repeat password">
                    <p class="text-danger" th:if="${#fields.hasErrors('passwordRpt')}" th:errors="*{passwordRpt}"></p>
                </div>
                <div class="form-group">
                    <label for="roles">Roles</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.title}"
                                th:value="${role.id} + ';' + ${role.title}"
                                th:selected="${user.roles.contains(role)}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/scripts :: scripts"></th:block>

</body>
</html>